body {
  background-color: #1d342b;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Karla;
}

.background-blob-yellow {
 position: absolute;
 top: 0;
 right: 0;
 z-index: 1; 
 transition: all 1s ease;
}
.background-blob-blue {
 position: absolute;
 bottom: 0;
 left: 0;
 z-index: 1;
 transition: all 1s ease;
}

.translate-top-right {
  translate: -30px 30px;
}
.translate-bottom-left {
  translate: 30px -30px;
}

.App {
  position: relative;
  height: 80vh;
  width: 80vh;
  max-width: 800px;
  border-radius: 0.375rem;
  padding: 7vh;
  background-color: #F5F7FB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

h1 {
  margin: 0;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 37px;
  text-align: center;
  color: #293264;
}



.question-title {
  margin-block: 10px;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: larger;
  line-height: 24px;
  text-align: start;
  color: #293264;
}

.question {
  border-bottom: 1px solid #DBDEF0;
}

.answer {
  font-family: 'Inter';
  font-weight: 500;
  font-size: small;
  min-width: 80px;
  padding-inline: 14px;
  padding-block: 5px;
  text-align: center;
  color: #293264;
  border-radius: 0.8rem;
  border: 0.771px solid #4D5B9E;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;
  align-items: center;
}

.answer-selected {
  border: none;
  background-color: #D6DBF5;
}

.question-answer:hover {
  box-shadow: 0 0 2px 0 #4D5B9E;
}

.answers-container {
  display: flex;
  margin-bottom: 20px;
  margin-top: 10px;
  gap: 10px;
}

p {
  margin: 25px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #293264;
}

button {
  border: none;
  font-family: 'Inter';
  background: #4D5B9E;
  border-radius: 15px;
  padding-inline: 30px;
  padding-block: 10px;
  color: #fff;
  cursor: pointer;
}

button:active {
  border: 2px solid #deebf8;
}

.start-button {
  height: 40px;
  width: 140px;
}

h4 {
  margin: 0;
  color: #293264;
}
