body {
  background-color: #1d342b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-blob-yellow {
 position: absolute;
 top: 0;
 right: 0;
 z-index: 1; 
 transition: all 1s ease;
}
.background-blob-blue {
 position: absolute;
 bottom: 0;
 left: 0;
 z-index: 1;
 transition: all 1s ease;
}

.translate-top-right {
  translate: -30px 30px;
}
.translate-bottom-left {
  translate: 30px -30px;
}

.App {
  position: relative;
  height: 80vh;
  max-height: 800px;
  width: 80vh;
  max-width: 800px;
  border-radius: 0.375rem;
  margin-top: 5vh;
  background-color: #F5F7FB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

h1 {
  margin: 0;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 37px;
  text-align: center;
  color: #293264;
}

p {
  margin: 25px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #293264;
}

button {
  border: none;
  font-family: 'Inter';
  background: #4D5B9E;
  border-radius: 15px;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}

button:active {
  border: 2px solid #deebf8;
}

.start-button {
  height: 40px;
  width: 140px;
}
